body{
    background-color: rgba(35, 124, 0, 0.375);
}

p{
    color:rgb(0, 0, 0);
    display:inline-block;
    outline-style: dashed;
    outline-color:red

}

.riqu{ 
    width: 70px;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(5, 96, 5, 0.364)
}

img{
    margin: 100px;
    border: 5px solid red;
    padding:10px

}


.img{
        display: flex;
    
}


